.App {
  height: 100vh;
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
}

.Header {
  height: 12vh;
  display: flex;
  align-items: center;
  background-color: darkcyan;
}

.Home {
  margin-left: 3vw;
  font-size: 25px;
}

.BlackBox {
  height: 88vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Content {
  height: 80vh;
  width: 70vw;
  margin-top: 90px;
}

.WhiteCard {
  height: 65vh;
  width: 70vw;
  background-color: gainsboro;
}

.Buttons {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}